<IfModule mod_rewrite.c>
    RewriteEngine On
    ErrorDocument 403 /404.php
    ErrorDocument 404 /404.php
</IfModule>

<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81___lsphp .php .php8 .phtml
</IfModule>
